.select .main {
    border: 1px solid black;
    /*span это inline(овый) элемент. Задаем inline-block,
    блоковый элемент можно модифицировать как блочный, значит ему можно задать высоту и ширину*/
    display: inline-block;
    min-height: 20px;
    min-width: 40px;
}

.items {
    /*display: none; *скажем что его не видно*/
    /*при помощи стилей скрываем наш список, если при js . то это свойство нам не нужно*/

    position: absolute; /*контент накладывается сверху на другие элменты и никому не мешает*/
    padding: 5px;
    border: 1px solid black;
}

/*при помощи стилей скрываем наш список, тогда нам нужен этот класс.
Но если при js, то этот класс нам не нужен
.select.active .items {
    display: block;
}*/

.item.selected {
    background-color: blue;
    color: white;
}

